#contenedor {
    float: left;
    text-align: center;
    width: 73%;
}

.fruta {
    display: inline-block;
}

img {
    width: 75px;
}

#compra {
    float: right;
    width: 25%;
}

fieldset {
    padding: 20px;
}

fieldset input {
    float: left;
}

fieldset label {
    float: left;
}

.fruta {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.fruta .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.fruta .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.fruta:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.campoErroneo {
    color: red;
}