#elPadre {}

#contenedor {
    float: left;
    text-align: center;
    width: 73%;
}

.fruta {
    display: inline-block;
}

img {
    width: 75px;
}

#compra {
    float: right;
    width: 25%;
}

fieldset {
    padding: 20px;
}

fieldset input {
    float: left;
}

fieldset label {
    float: left;
}